
.feature-info {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 6rem 0;

  @media (max-width: 768px) {
    width: 100%;
    padding: 3rem 0;
  }  
}

.nav {
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column;
    row-gap: 2rem;
  }
}