
.hero {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  align-items: center;
  grid-column-gap: 5rem;
  padding: 6rem 0;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  }

  @media (max-width: 576px) {
    padding: 3rem 0;
  }

  .media {
    position: relative;
    @media (max-width: 576px) {
      order: -1;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -4rem;
      right: -2rem;
      transform: translateX(950rem);
      display: block;
      border-radius: 20rem;
      width: 1000rem;
      height: 36rem;
      z-index: -1;
      background-color: $SoftBlue;

      @media (max-width: 1125px) {
        height: 26rem;
        right: -10rem;
      }

      @media (max-width: 992px) {
        right: 0;
        height: 32rem;
        bottom: 0;
        transform: translateX(940rem);
      }

      @media (max-width: 576px) {
        height: 18rem;
        transform: translateX(972rem);
        bottom: 0;
      }
    }
  }
}