
.tab-button {
  display: block;
  border: none;
  background-color: $Transparent;
  padding: 0.75rem 2rem;
  font-size: 1.475rem;
  color: $VeryDarkBlue;
  cursor: pointer;
  outline: none;
  padding-bottom: 1.25rem;

  &.active {
    border-bottom: 0.4rem solid $SoftRed;
    border-radius: 0.25rem;
  }
}