
.heading {
  font-weight: 500;
  margin: 2rem 0;

  &.default {
    color: $VeryDarkBlue;
  }

  &.light {
    color: $VeryLight;
  }

  &.lg {
    font-size: 4.2rem;

    @media (max-width: 768px) {
      font-size: 3.6rem;
    }
  }

  &.md {
    font-size: 3.8rem;

    @media (max-width: 768px) {
      font-size: 2.25rem;
    }
  }

  &.sm {
    font-size: 2.8rem;
  }

  &.m-0 {
    margin: 0;
  }
}