
.blockquote {
  text-transform: uppercase;
  font-size: 1.275rem;
  letter-spacing: 0.275rem;
  font-weight: 500;

  &.default {
    color: $VeryDarkBlue;
  }

  &.light {
    color: $VeryLight;
  }
}