
.button {
  display: inline-block;
  text-align: center;
  background-color: $SoftBlue;
  border: none;
  outline: none;
  padding: 1rem 2.5rem;
  font-weight: 500;
  color: $VeryLight;
  font-size: 1.475rem;
  cursor: pointer;
  border-radius: 0.375rem;

  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);

  &.block {
    display: block;
    width: 100%;
  }

  &.light {
    background-color: $VeryLight;
    color: $VeryDarkBlue;
  }

  &.danger {
    background-color: $SoftRed;
    color: $VeryLight;
  }
}