
.title {
  font-weight: 500;
  font-size: 2.8rem;
  color: $VeryDarkBlue;
  margin: 2rem 0;

  @media (max-width: 768px) {
    font-size: 2.25rem;
  }

  &.light {
    color: $VeryLight;
  }

  &.m-0 {
    margin: 0;
  }
}